@font-face {
  font-family: insaneFont;
  src: url(PottaOne-Regular.ttf);
}

.center {
  text-align: center;
  color: purple;
}

#thisCanvas {
  text-align: center;
  color: orange;
}

* {
  text-align: center
}

p {
  text-align: center;
  color: blue;
}

img[text-align] {
  text-align: right;
}

a:hover {
  color: yellow;
}

h1, h2 {
  color: #6a5acd;
}

.modal.modal-red { border-color: red; }


div h1 {
  background-color: rgb(200, 100, 150);
}

section > h3 {
  background-color: rgba(255, 99, 71, 0.5);
}

div ~ p {
  background-color: hsl(39, 100%, 50%);
}

h2 + ol {
  background-color: hsla(9, 100%, 64%, 1)
}

/* add an example to combine selectors */

/* border */
p {
  border-style: dotted;
  border-color: #3cb371;
  border-width: thick;
  border-radius: 25px;
}

table {
  width: 250px;
  border: 15px solid orange;
  padding: 50px;
  margin: 25px;
}

h2.absolute {
  position: absolute;
  left: 100px;
  top: 150px;
}

h4.relative {
  position: relative;
  left: 30px;
  border: 4px solid #75BE21;
}

a:active { 
  background-color: pink;
}

.grid-box {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-kid {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  font-size: 35px;
  text-align: center;
}

 .mode.mode-red { border-color: red; } 
