@font-face {
  font-family: insaneFont;
  src: url(PottaOne-Regular.ttf);
}

.center {
  text-align: center;
  color: purple;
}

#thisCanvas {
  text-align: center;
  color: orange;
}

* {
  text-align: center
}

p {
  text-align: center;
  color: blue;
}

img[text-align] {
  text-align: right;
}

a:hover {
  color: yellow;
}

h1, h2 {
  color: #6a5acd;
}

div h1 {
  background-color: rgb(200, 100, 150);
}

section > h3 {
  background-color: rgba(255, 99, 71, 0.5);
}

div ~ p {
  background-color: hsl(39, 100%, 50%);
}

h2 + ol {
  background-color: hsla(9, 100%, 64%, 1)
}

/* add an example to combine selectors */

/* border */
p {
  border-style: dotted;
  border-color: #3cb371;
  border-width: thick;
  border-radius: 25px;
}

table {
  width: 250px;
  border: 15px solid orange;
  padding: 50px;
  margin: 25px;
}

h2.absolute {
  position: absolute;
  left: 100px;
  top: 150px;
}

h4.relative {
  position: relative;
  left: 30px;
  border: 4px solid #73AD21;
}

