.center {
  text-align: center;
  color: purple;
}

#thisCanvas {
  text-align: center;
  color: orange;
}

* {
  text-align: center
}

p {
  text-align: center;
  color: blue;
}

form[name="Lets Talk About Your Favorite Bands:"] {
  background-color: green;
}
